<h2>Edit variant</h2>

<%= render "form.html", changeset: @changeset, product: @product, variant: @variant, conn: @conn,
                        action: admin_product_variant_path(@conn, :update, @product, @variant) %>


