<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            {{ content_for_header }}
    
            <link rel="icon" type="image/png" href="favicon.ico">
    		<!-- Place favicon.ico in the root directory -->
    		<link rel="apple-touch-icon" href="apple-touch-icon.png">
    		<link rel="stylesheet" href="themes/planet/assets/css/font-awesome.min.css">
    		<link rel="stylesheet" href="themes/planet/assets/css/jquery-ui.css">

    		<link rel="stylesheet" href="themes/planet/assets/css/bootstrap.min.css">
    		<link rel="stylesheet" href="themes/planet/assets/css/animate.css">
    		<link rel="stylesheet" href="themes/planet/assets/css/iconfont.css">
    		<link rel="stylesheet" href="themes/planet/assets/css/isotope.css">
    		<link rel="stylesheet" href="themes/planet/assets/css/magnific-popup.css">
    		<link rel="stylesheet" href="themes/planet/assets/css/owl.carousel.min.css">
    		<link rel="stylesheet" href="themes/planet/assets/css/owl.theme.default.min.css">
    		<link rel="stylesheet" href="themes/planet/assets/css/vertical-menu.css">
    		<link rel="stylesheet" href="themes/planet/assets/css/navigation.min.css">


    		<!--For Plugins external css-->
    		<link rel="stylesheet" href="themes/planet/assets/css/plugins.css" />

    		<!--Theme custom css -->
    		<link rel="stylesheet" href="themes/planet/assets/css/style.css">

    		<!--Theme Responsive css-->
    		<link rel="stylesheet" href="themes/planet/assets/css/responsive.css" />
  </head>
  <body>
    <!--[if lt IE 10]>
    		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    ![endif]-->

    <div class="container mt-4">
      <main role="main">
        {{ content_for_layout }}

      </main>
    </div>
    <!-- js file start -->
    		<script src="themes/planet/assets/js/jquery-3.2.1.min.js"></script>
    		<script src="themes/planet/assets/js/jquery-ui.js"></script>
    		<script src="themes/planet/assets/js/modernizr.js"></script>
    		<script src="themes/planet/assets/js/plugins.js"></script>
    		<script src="themes/planet/assets/js/Popper.js"></script>
    		<script src="themes/planet/assets/js/bootstrap.min.js"></script>
    		<script src="themes/planet/assets/js/isotope.pkgd.min.js"></script>
    		<script src="themes/planet/assets/js/jquery.magnific-popup.min.js"></script>
    		<script src="themes/planet/assets/js/owl.carousel.min.js"></script>
    		<script src="themes/planet/assets/js/jquery.menu-aim.js"></script>
    		<script src="themes/planet/assets/js/vertical-menu.js"></script>
    		<script src="themes/planet/assets/js/tweetie.js"></script>
    		<script src="themes/planet/assets/js/echo.min.js"></script>
    		<script src="themes/planet/assets/js/jquery.ajaxchimp.min.js"></script>
    		<script src="themes/planet/assets/js/jquery.countdown.min.js"></script>
    		<script src="themes/planet/assets/js/jquery.waypoints.min.js"></script>
    		<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>
    		<script src="themes/planet/assets/js/spectragram.min.js"></script>
    		<script src="themes/planet/assets/js/main.js"></script>		<!-- End js file -->
  </body>
</html>
