<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <title>Planet Security</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/font-awesome.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/jquery-ui.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/bootstrap.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/animate.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/iconfont.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/isotope.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/magnific-popup.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/owl.carousel.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/owl.theme.default.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/vertical-menu.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/navigation.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/plugins.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/style.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/themes/planet/assets/css/responsive.css") %>">
  </head>

  <body data-js-view-name="<%= js_view_name(@view_module, @view_template) %>">


      <!-- Top bar navigation -->
      <%= render_front "_top_bar.html", conn: @conn, current_user: @current_user %>
      <!-- /Top bar navigation -->

      <!-- header navigation -->
      <%= render_front "_header.html", conn: @conn, current_user: @current_user, root_cat: @root_cat %>
      <!-- /header navigation -->

      <div class="container">
        <%= unless is_nil(get_flash(@conn, :info)) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= unless is_nil(get_flash(@conn, :error)) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>
      </div>
        <%= render @view_module, @view_template, assigns %>

      <!-- Top bar navigation -->
      <%= render_front "_footer.html", conn: @conn, current_user: @current_user %>
      <!-- /Top bar navigation -->
    
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/jquery-ui.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/modernizr.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/plugins.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/Popper.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/isotope.pkgd.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/jquery.magnific-popup.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/owl.carousel.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/jquery.menu-aim.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/vertical-menu.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/tweetie.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/echo.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/jquery.ajaxchimp.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/jquery.countdown.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/jquery.waypoints.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/spectragram.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/themes/planet/assets/js/main.js") %>"></script>

  </body>
</html>
